<a href="https://colab.research.google.com/github/Ayy4s/datamanipulationpart1/blob/main/Exercise%203%20-%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/world_alcohol - world_alcohol.csv')

In [3]:
filter_list = ['value1', 'value2', 'value3']

In [7]:
filtered_df = df.query('Year not in @filter_list and '
                       '(`WHO region` not in @filter_list) and '
                       'Country not in @filter_list and '
                       '`Beverage Types` not in @filter_list and '
                       '`Display Value` not in @filter_list')

In [8]:
print(filtered_df)

    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[100 rows x 5 columns]