<a href="https://colab.research.google.com/github/Ayy4s/datamanipulationpart1/blob/main/Exercise_12_Pandas%2C_Style.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(42)

In [3]:
df = pd.DataFrame(np.random.rand(10, 4), columns=['A', 'B', 'C', 'D'])

In [4]:
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[6, 3] = np.nan

In [5]:
styled_df = df.style.highlight_null(null_color='red')

<ipython-input-5-b249312374ba>:1: FutureWarning: `null_color` is deprecated: use `color` instead
  styled_df = df.style.highlight_null(null_color='red')

In [6]:
styled_df