<a href="https://colab.research.google.com/github/Ayy4s/datamanipulationpart1/blob/main/Exercise_13_Pandas_Style.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [8]:
np.random.seed(42)

In [9]:
df = pd.DataFrame(np.random.rand(10, 4), columns=['A', 'B', 'C', 'D'])

In [15]:
column_colors = {'A': 'yellow', 'B': 'cyan', 'C': 'green', 'D': 'magenta'}

In [16]:
styled_df = df.style.apply(lambda _: [f'background-color: {column_colors.get(col)}' for col in df.columns])

In [17]:
styled_df